[submodule "src/shared/ui"]
	path = src/shared/ui
	url = https://github.com/ezen-bentto/bentto-ui.git
[submodule "src/shared/headless"]
	path = src/shared/headless
	url = https://github.com/ezen-bentto/bentto-headless.git
